# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.env

# Streamlit
.streamlit/

# Local Logs (optional to ignore, but good practice so we don't commit large log files)
live_logs.txt
logs.txt
